*.log
/.php_cs
/.php_cs.cache
/.phpunit.result.cache
/build/
/composer.lock
/composer.phar
/phpunit.xml
/vendor/
/tests/Functional/app/var
/tests/Functional/app/.env*
/tests/Functional/app/public/bundles
