parameters:
    level: 5
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Result of && is always false\.#'
        - '#Strict comparison using === between .* and .* will always evaluate to false\.#'

        - message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#'
          count: 1
          path: src/DependencyInjection/Configuration.php

        - message: '#Parameter \#3 $offset of method NavBundle\\EntityPersister\\EntityPersisterInterface::loadAll\(\) expects string|null, int|null given\.#'
          count: 1
          path: src/EntityRepository/EntityRepository.php

        - message: '#Property NavBundle\\ClassMetadata\\Driver\\AnnotationDriver::\$entityAnnotationClasses .* does not accept default value of type .*\.#'
          count: 1
          path: src/ClassMetadata/Driver/AnnotationDriver.php

        - message: '#Parameter \#1 \$bookmarkKey \(string\) of method NavBundle\\Bridge\\Pagerfanta\\Adapter\\NavAdapter::getSlice\(\) should be compatible with parameter \$offset \(int\) of method Pagerfanta\\Adapter\\AdapterInterface::getSlice\(\)#'
          count: 1
          path: src/Bridge/Pagerfanta/Adapter/NavAdapter.php

        - '#Return type \(string\|null\) of method NavBundle\\ClassMetadata\\ClassMetadata(?:Interface)?::getIdentifier\(\) should be compatible with return type \(array\) of method Doctrine\\Persistence\\Mapping\\ClassMetadata::getIdentifier\(\)#'
