parameters:
    level: 5
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Result of && is always false\.#'
        - '#Strict comparison using === between .* and .* will always evaluate to false\.#'

        - message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#'
          count: 1
          path: src/DependencyInjection/Configuration.php

        - message: '#Parameter \#3 $offset of method NavBundle\\EntityPersister\\EntityPersisterInterface::loadAll\(\) expects string|null, int|null given\.#'
          count: 1
          path: src/EntityRepository/EntityRepository.php

        - message: '#Parameter \#1 \$bookmarkKey \(string\) of method NavBundle\\Bridge\\Pagerfanta\\Adapter\\NavAdapter::getSlice\(\) should be compatible with parameter \$offset \(int<0, max>\) of method Pagerfanta\\Adapter\\AdapterInterface::getSlice\(\)#'
          count: 1
          path: src/Bridge/Pagerfanta/Adapter/NavAdapter.php

        - '#Return type \(string\|null\) of method NavBundle\\ClassMetadata\\ClassMetadata::getIdentifier\(\) should be compatible with return type \(array\) of method Doctrine\\Persistence\\Mapping\\ClassMetadata<object>::getIdentifier\(\)#'

        - '#Return type \(string\|null\) of method NavBundle\\ClassMetadata\\ClassMetadataInterface::getIdentifier\(\) should be compatible with return type \(array\) of method Doctrine\\Persistence\\Mapping\\ClassMetadata<object>::getIdentifier\(\)#'

        - '#Method NavBundle\\EntityManager\\EntityManager::find\(\) should return T of object\|null but returns object\|null\.#'

        - '#Return type \(NavBundle\\ClassMetadata\\ClassMetadataFactory\) of method NavBundle\\EntityManager\\EntityManager::getMetadataFactory\(\) should be compatible with return type \(Doctrine\\Persistence\\Mapping\\ClassMetadataFactory<Doctrine\\Persistence\\Mapping\\ClassMetadata<object>>\) of method Doctrine\\Persistence\\ObjectManager::getMetadataFactory\(\)#'
