{% extends 'base.html.twig' %}

{% block title %}Welcome to the TestBundle{% endblock %}

{% block content %}
    <pre>{{ dump(contact) }}</pre>
{% endblock %}

{% block footer %}
    <p><a href="{{ path('list') }}">&#8592; Back to the list</a></p>
{% endblock %}
