{% trans_default_domain 'EasyAdminBundle' %}

{% set _paginator_request_parameters = _request_parameters|merge({'referer': null, 'bookmarkKey': app.request.query.get('bookmarkKey')}) %}

<div class="list-pagination">
    <div class="list-pagination-counter">
        {{ 'paginator.results'|transchoice(paginator.nbResults)|raw }}
    </div>

    <nav class="pager list-pagination-paginator">
        <ul class="pagination">
            <li class="page-item {{ not paginator.hasNextPage ? 'disabled' }}">
                <a class="page-link" href="{{ not paginator.hasNextPage ? '#' : path('easyadmin', _paginator_request_parameters|merge({ bookmarkKey: paginator.adapter.bookmarkKey }) ) }}">
                    <span class="btn-label">{{ 'paginator.next'|trans }}</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script type="text/javascript">
    $(function() {
        $('a.page-link').on('click', function (e) {
            e.preventDefault();

            const $link = $(this);
            const href = $link.attr('href');

            if ('#' !== href) {
                $.getJSON(href, function (response) {
                    $('#main table.table tbody').append(response.html);
                    $link.attr('href', response.nextUrl);
                    if ('#' === response.nextUrl) {
                        $link.parent().addClass('disabled');
                    }
                });
            }
        });
    });
</script>
